<h2>Hello Indonesia</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<h1>Welcome !</h1>
<p><%= @user %></p>

<p class="navbar-text float-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>

  <form action="/users" class="new_user" id="new_user" method="post">
    <label for="user_name">Name</label>
    <input id="user_name" name="user[name]" type="text" />
  </form>

</p>
